body {
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    color: #333;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(242, 242, 242, 0.8); /* Transparent background color */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: Arial, sans-serif;
}

form span {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

form input[type="date"],
form input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

form input[type="submit"],
form button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: Arial, sans-serif;
}

form button a {
    text-decoration: none;
    color: white;
}