@import url("https://fonts.googleapis.com/css2?family=poppins:wght@400&display=swap");
*{
    margin:0;
    padding:0 ;
    font-family: "poppins",sans-serif;
    box-sizing: border-box;
    outline: none;
    color: #fff;
}
section{
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: cover;
    filter: blur(2px)brightness(90%);
}
body{
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}
.container{
    width: 400px;
    background: #000;
    box-shadow: 0 0 8px rgba(250,250,250,0.6);
    opacity: 0.6;
}
.container form{
    width: 100%;
    text-align: center;
    padding: 25px 20px;

}
form h1{
    padding: 10px 0px;
}
form.id{
    position: relative;
}
id.i{
    position: absolute;
    font-size: 20px;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
form input{
    width: 100%;
    height: 50px;
    margin: 4px 0;
    border: 1px solid #5c5c5c;
    border-radius: 3px;
    background: #181717;
    padding: 0 15px;
    font-size: 20px;
    padding-right: 45px;
}
form textarea{
    padding: 5px 15px;
    border: 1px solid #5c5c5c;
    border-radius: 3px;
    background: #181717;
    font-size: 20px;
    width: 100%;
    margin: 4px 0;
    

}
form button{
    margin-top: 5px;
    border: none;
    background: #00fff0;
    color: #222;
    padding: 10px 0;
    width: 100%;
    font-size: 20px;
    font-weight: 800;
    cursor: pointer;
    border-radius: 3px;
}
form input:focus,
form textarea:focus{
    border: 1px solid #00fff0;
    color: #00fff0;
    transition: all 0.3s ease;

}
form input:focus,
form textarea:focus::placeholder{
    padding-left: 4px;
    color: #00fff0;
    transition: all 0.3s ease;

}
form input:focus+i{
    color: #00fff0;
    transition: all 0.3s ease;

}
.popup-overlay {
   
    
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    margin-left: 450px;
    margin-right: 450px;
  }

  .popup-content {
    background-color: black;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    
  }

  .popup-content h2 {
    margin-top: 0;
  }
  .popup-overlay{
    display: none;
  }
  .id span{
    font-size: 14px;
    color: red;
   
    
  }
  #feedback-error
  {
    font-size: 14px;
    color: red;
  }
  #submit-error{
    font-size: 14px;
    color: red;
  }
  span i{
    color: #ff5e00;
  }
  .pop-up {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #0c0c0c;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 15px;
    text-align: center;
    font-size: 18px;
    color: #a72424;
    z-index: 9999;
    display: none; /* Initially hide the pop-up */
}

.pop-up.show {
    display: block; /* Show the pop-up when the "show" class is added */
}


.hidden {
    display: none;
}
  /*footer
footer {
    position: fixed;
    bottom: 0;

}

@media (max-height:800px) {
    footer {
        position: static;
    }

    header {
        padding-top: 40px;
    }
}

.footer-distributed {
    background-color: #2d2a30;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left 

.footer-distributed .footer-left {
    width: 30%;
}

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}


.footer-distributed h3 span {
    color: #e0ac1c;
}

/* Footer links 

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center 

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #e0ac1c;
    text-decoration: none;
    ;
}

/* Footer Right 

.footer-distributed .footer-right {
    width: 30%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
    background-color: #3F71EA;
}

.footer-links a:hover {
    color: #3F71EA;
}

@media (max-width: 880px) {

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}
*/